<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>商品添加</title>
	<link rel="stylesheet" href="/stylesheets/add.css" />
	<!--<style>
		.lis{
	width: 250px;
	height: 50px;
	border: 1px solid #ccc;
	background: #ff0;
	color: #00B7FF;
}
	</style>-->
</head>
<body>
	<header>
		<ul>
			<li>11</li>
			<li>+</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</header>
	<div id="main-div">
		<div id="menu-list">
			<ul id="menu-ul">
				<li class="collapse lis ico_1">商品管理
					<ul style="display:none;">
				        <li class="menu-item"><a href="#" target="main-frame">商品列表</a></li>
				        <li class="menu-item"><a href="#" target="main-frame">添加新商品</a></li>
			        </ul>
	      		</li>
				<li class="collapse lis ico_2">促销管理</li>
				<li class="collapse lis ico_3">订单管理</li>
				<li class="collapse lis ico_4">广告管理</li>
				<li class="collapse lis ico_5">报表统计</li>
				<li class="collapse lis ico_6">文章管理</li>
				<li class="collapse lis ico_7">会员管理</li>
				<li class="collapse lis ico_8">权限管理</li>
				<li class="collapse lis ico_9">系统设置</li>
				<li class="collapse lis ico_10">模板管理</li>
				<li class="collapse lis ico_11">数据库管理</li>
				<li class="collapse lis ico_12">短信管理</li>
				<li class="collapse lis ico_13">推荐管理</li>
				<li class="collapse lis ico_14" >邮件群发管理</li>
				<li class="collapse lis ico_15">移动版管理</li>
				<li class="collapse lis ico_15" >模板堂知识库</li>
			</ul>
		</div>
	</div>
</body>
</html>