<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/stylesheets/common.css"/>
		<title></title>
		<style type="text/css">
			body{
			    background: url(../images/body_bj.jpg);
			    padding: 10px;
			    min-width: 773px;
			}
			h1{
			    border-bottom: 1px solid #ccc;
			    color: #333;
			    font-weight: normal;
			    padding: 7px 10px;
			    margin: 0 0 10px 0;
			    overflow: hidden;
			}
			h1>.span1{
			    color: #4c4c4c;
			    font-size: 18px;
			    font-weight: normal;
			}
			h1>.span1>a:hover{
				color: #eb8a3d;
				text-decoration: underline;
			}
			div>img{
				width: 100%;
			}
		</style>
	</head>
	<body>
		<h1>
			<span class="span1 left">
				<a href="javascript:;">ECSHOP管理中心 </a>
			</span>
		</h1>
		<div>
			<img src="images/index.jpg"/>
			<img src="images/index1.jpg"/>
		</div>
	</body>
</html>
