<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="/stylesheets/login.css" />
	<title>登陆</title>
</head>
<body>
	<header>
		<img src="/images/shopex.png"/>
	</header>
	<nav>
		<img src="/images/ecshop-logo.png"/>
	</nav>
</body>
</html>
